@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea {
    @apply bg-secondary rounded-lg min-h-[50px];
  }
}

@layer components {
  .btn {
    @apply cursor-pointer block mx-auto rounded-lg mt-5 bg-primary-light text-center w-56 h-[44px] hover:filter duration-300;
  }
}

/* for plugin */

.dp__input_wrap{
  background: #EBEBEB !important;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 10px;
}

.dp__input{
  background: transparent !important;
}